$padding-large-horizontal: 16px !default;

a {
  color: #333333;
}

strong {
  font-family: 'Rosina-UltraBold';
}

p {
  font-family: 'Rosina-Light', sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-family: 'Rosina-UltraBold', sans-serif;
}

.autocomplite {
  height: 72px !important;
}

.masonry {
  //margin-bottom: 50px;
}

.select-language {
  background: url(/images/main.jpg) center bottom !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  position: relative;
  width: auto;
  padding: 0;
  margin: 0;
  height: 505px !important;
}

.center-tag {
  width: 100%;
  text-align: center;
}

.logo {
  height: 175px;
  margin-top: 50px;
  background-color: rgba(#fff,0.8);
  padding: 20px;
}

.under-logo-text {
  color: white;
  text-align: center;
  font-family: 'Rosina-UltraBold', sans-serif;
  font-size: 60px;
  padding-left: 10%;
  padding-right: 10%;
  letter-spacing: 2px;
  text-shadow:  1px 1px 2px black;
}

@media only screen and (max-width: 840px) {
  .under-logo-text {
    font-size: 30px;
  }
}

.toolbar-language {
  height: 0px !important;
}

@media only screen and (max-width: 400px) {
  .logo {
    width: 95%;
    height: 95%;
  }
}

.general {
  margin-bottom: 50px;
  background-color: #ceba9f;
  width: 100%;
  height: 100%;
}

.main {
  background-color: #ceba9f;
  font-family: 'Rosina-Light', sans-serif;
}

.arrow-on-top {
  z-index: 5;
  text-align: right;
  padding-right: 2%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  bottom: 50%;
  right: 0;
}

.arrow-on-top-hidden {
  display: none;
}

.tiles-top {
  height: 50px;
  background-color: #ceba9f;
}

.tiles {
  background: url(/images/capperi-tile.png) repeat-x top center;
  height: 60px;
  margin-bottom: -4px;
  background-color: #ceba9f;
}

.contacts-page {
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: 'Rosina-Light', sans-serif;
  font-size:15px;
  background-color: rgba(#b1956e,0.9);
}

.contacts-page-basement {
  text-align: center;
  font-family: 'Rosina-Light', sans-serif;
  padding-top: 50px;
  padding-bottom: 15px;
  font-size: 13px;
}

#map {
  height: 400px;
  width: 100%;
}

.story-rows {
  //margin-bottom: 20px;
}

.info-page {
  background-color: #ceba9f;
  margin-top: 20px;
}

.info-text {
  //font-size: 30px !important;
  padding-bottom: 30px;
}

.info-text-headers {
  text-align: center !important;
  font-family: Rosina-UltraBold, cursive;
}

.info-footer {
  margin-top: 40px;
}

.menu-page {
  background-color: rgba(#ceba9f, 0.6);
}

.menu-item-paper {
  font-size: 15px;
  color: black;
  display: inline-block;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 16px;
  background-color: rgba(#ceba9f,1) !important;
  -moz-background-size: 100% !important;
  -webkit-background-size: 100% !important;
  -o-background-size: 100% !important;
  background-size: 100% !important;
}

.menu-item-header {
  font-size: 22px;
  text-align: center;
  font-family: 'Rosina-UltraBold', cursive;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.menu-item-coffee-name {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 22px;
  font-family: 'Rosina-UltraBold', cursive;
  padding-top: 15px;
}

.menu-item-coffee-price {
  padding-top: 20px;
  font-size: 19px;
  color: #454f4c;
}

.menu-item-info {
  font-size: 19px;
  text-align: left;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Rosina-Light, cursive;
}

.menu-page-headers {
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 70px;
  text-align: center;
  font-family: 'Rosina-UltraBold', cursive !important;
  background-color: #ceba9f !important;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.menu-page-headers:before,
.menu-page-headers:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 4px;
  background-color: #3a3837;
  position: relative;
}
.menu-page-headers:before {
  margin-left: -100%;
  left: -14px;
}
.menu-page-headers:after {
  margin-right: -100%;
  right: -14px;
}

.menu-gourmet-special-info {
  background-color: rgba(#ceba9f,1) !important;
  background-size: contain;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 6px;
}

@media only screen and (max-width: 540px) {
  .menu-gourmet-special-info {
    margin-right: 0;
    margin-left: 0;
  }
}

.menu-gourmet-description {
  text-align: center;
  font-size: 19px;
  padding-top: 15px;
  font-family: Rosina-Light, cursive;
}

.menu-gourmet-bonuses {
  padding-bottom: 15px;
  font-size: 19px;
  text-align: center;
}

.menu-page-price {
  text-align: center;
  margin-bottom: 17px;
  color: #454f4c;
}

.menu-page-price-left {
  text-align: left;
  margin-bottom: 17px;
  color: #454f4c;
  padding-left: 10%;
}

.menu-page-price-right {
  text-align: left;
  margin-bottom: 17px;
  color: #454f4c;
  padding-right: 10%;
}

.tab {
  background-color: #5a5f66 !important;
  font-family: 'Rosina-UltraBold', cursive !important;
  font-size: 30px !important;
  color: white !important;
  width: 100% !important;
}

.tabs {
  margin-top: -1px;
}

.drop-down-menu {
  background-color: #5a5f66 !important;
  display: inline-block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center !important;
  opacity: 1;
  z-index: 5;
  width: 330px;
  overflow: hidden !important;
}

.drop-down-menu-wrapper {
  width: 100%;
}

.introduction-page {
  padding: 25px;
  background-color: #ceba9f;
  font-family: 'Rosina-Light', cursive;
}

.intro-main {
  //padding-bottom: 40px;
}

.intro-first-image {
  width: 100%;
  height: 100%;
  margin-top: 26px;
  border: 0px #CCCCCC solid;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.intro-hidden {
  padding-top: 50px;
  padding-bottom: 150px;
  background-image: url("https://s8.hostingkartinok.com/uploads/images/2017/05/44279f0e708619aa1b0ac20c8860b5ed.jpg") !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: bottom;
}

.intro-hidden-span {
  color: white;
}

.story-first-image {
  width: 100%;
  height: 100%;
  margin-top: 26px;
  border: 0px #CCCCCC solid;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.story-first-item {

}

@media only screen and (min-width: 1200px) {
  .story-first-image {
    width: 116%;
    height: 116%;
  }
  .story-first-item {
    padding-left: 25px !important;
  }
}

.scroll-to-top {
  z-index: 5;
  margin-bottom: 20px;
  right: 10px;
  border: 2px solid #eaedf2;
  //color: #8dc153;
  line-height: 45px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.1);
  -moz-transition: opacity 300ms, border-color 300ms, background-color 300ms;
  -o-transition: opacity 300ms, border-color 300ms, background-color 300ms;
  -webkit-transition: opacity 300ms, border-color 300ms, background-color 300ms;
  transition: opacity 300ms, border-color 300ms, background-color 300ms;

  &:hover {
    cursor: pointer;
    border-color: #cbd2df;
  }
}

.margin-bottom-70 {
  margin-bottom: 20px;
}
