html, body{
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;

  h1{
    color: #2196F3;
    font-weight: 700
  }
}

html {
  overflow-y: scroll;
}

.wrapper{
  height: 100%;
}

.flex-container{
  display: flex;
  height: 100%;
}

.margin-top-null {
  margin-top: 0;
}

.float-button {
  right: 15px;
  line-height: 45px;
  text-align: center;
  position: fixed;
  bottom: 15px;

}

@import "header",
"content";
