$rosina-font-path: 'fonts/Rosina' !default;

@mixin rosina-font($type, $font-name, $variant) {

  $font-full-path: '#{$rosina-font-path}/#{$type}/#{$variant}';

  @font-face {
    font-family: '#{$font-name}';
    src: url('#{$font-full-path}-#{$type}.eot');
    src: local('#{$variant} #{$type}'),
    local('#{$variant}-#{$type}'),
    url('#{$font-full-path}-#{$type}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-full-path}-#{$type}.woff2') format('woff2'),
    url('#{$font-full-path}-#{$type}.woff') format('woff'),
    url('#{$font-full-path}-#{$type}.ttf') format('truetype');
  }
}
