.glyph-button{
  span{
    display: inline-block;
    vertical-align: middle;
  }

  .glyphicon{
    left: 5px;
  }
}

.btn-block {
  margin-bottom: 10px;
}
.copy-btn{
  text-align: left;
  line-height: 1.2;
}

.cursor-pointer {
  cursor: pointer;
}
