.collapsable-panel{
  .panel-heading{
    padding: 0;
  }

  .panel-title{
    font-size: 14px;
  }

  a{
    display: block;
    overflow: hidden;
    padding: 10px 15px;

    &:focus{
      outline: none;
    }
  }
}

.list-group.translation-history {
  margin-top: 10px;
  margin-bottom: 0;
}
