.nav-tabs{
  border-bottom: 0;
  padding: 0 10px;
  & > li{
    margin: 0 5px;
  }
}
.nav-tabs > li > a{
  position: relative;
  color: #428BCA;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  &:hover{
    background: none;
  }
  &:before{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    content: "";
  }
  &:after{
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    margin-bottom: -5px;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    content: "";
  }
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
  background: none;
  border: 0;
  color: #000;
  &:before,
  &:after{
    display: block;
    bottom: 13px;
  }
}
