.page-header{
  h1{
    margin: 0;
  }
}

.text-first-uppercase {
  display: block;
}

.text-first-uppercase:first-letter {
  text-transform: uppercase;
}

.text-yellow {
  color: yellow;
}

.text-uppercase-letter {
  display: inline-block;
}

.text-uppercase-letter:first-letter {
  text-transform: uppercase;
}