$header-client-bgc: #96ba4c;

img.flexible {
  max-width: 100%;
  height: auto;
}

img.center {
  display: block;
  margin: 0 auto;
}

.header-client {
  display: flex;
  align-items: center;
  min-height: 158px;
  background-color: $header-client-bgc;
  padding: 15px 0;

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    max-width: 269px;
    height: auto;
  }

  .btn {
    color: $header-client-bgc;
    font-weight: bold;
    padding: 11px 43px;

    @media (min-width: $screen-md) {
      font-size: 28px;
    }
  }


}

.client-confirm {
  @media (min-width: $screen-md) {
    .title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 45px;
      text-align: center;
      margin-top: 94px;
    }

    .greating-text {
      font-size: 20px;
      margin-top: 70px;
      padding: 15px;
    }
  }
}



@media (max-width: $screen-xs-max) {
  .header-client {
    .header-wrapper {
      flex-flow: column;
    }

    .logo {
      max-width: 230px;
    }
  }

  .client-confirm {
    .title {
      font-size: 30px;
      margin-top: 45px;
      font-weight: bold;
    }
  }
}
