.competition-banner{
  @extend %media-container;
}

.prizes-list{
  .prize{
    &-count{
      display: table-cell;
      width: 60px;
      font-size: 20px;
    }

    .label{
      width: 46px;
      display: inline-block;
      font-style: italic;
      font-weight: normal;
      font-size: inherit;
    }

    &-title{
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.decision-buttons{
  margin-bottom: 20px;
}

.prizes-table tr th:first-child {
  width: 15%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#well-chart {
  padding: 0;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

@media all and (max-width: 640px) {
  .x.axis {
    display: none;
  }

  #well-chart {
    margin: 0 -14px;
  }
}

.nav-tabs .fa:hover {
  cursor: pointer;
}

.chartjs-tooltip {
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  padding: 3px;
  margin: 6px;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 10;
}

.legend-color {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #fff;
  float: left;
}

.question-input {
  margin-bottom: 10px;
}

.answer-wrap {
  display: flex;
}

.answer {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.answer-left, .answer-right {
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

.answer-type-question {
  .answer-left {
    width: 60px;
  }
}

.answer-left {
  .fa {
    margin-right: 8px;

    &:hover {
      cursor: move;
    }
  }
}

.answer-right {
  width: 30px;
  cursor: pointer;
}

.drag-over {
  opacity: 0;
}
