.final-step-buttons {
  text-align: center;
}

#repeats-form {
  display: flex;

  & > div {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  @media (max-width: $screen-xs-max) {
    flex-flow: column;
  }
}

.prize-row {
  display: flex;
  flex-flow: row;
  position: relative;

  .fa-bars {
    opacity: 0.2;
  }

}

.prize-container {
  margin-top: 15px;
  border-bottom: 3px gray dashed;

  .prize-questions {
    label {
      font-weight: normal;
    }
  }
}

.prizes .prize-container:first-child {
  margin-top: 0;
}

.prizes .prize-container:last-child {
  border-bottom: 0;
}

.prize-types .btn-group {
  z-index: 5;
}

.prize-type input[type=text], .prize-type select, .prize-type button.btn {
  height: 34px !important;
}

.prize-type .col-md-5 {
  padding-left: 0;
}

.prize-type .checkbox {
  margin-bottom: 4px;
  margin-top: 0;
}

.prize-type {
  margin-bottom: 20px;
}

.prize-type-file > .prize-type-dropzone {
  height: 58px;
  color: #ccc;
  border: 2px #ccc dashed;
  line-height: 55px;
  text-align: center;

  &.has-error {
    border: 2px #a94442 dashed;
  }

  &:hover(:not(.disabled)) {
    background-color: #e3f2fd;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-move {
  cursor: move;
}

.section .row .prize-row .form-group + .form-group {
  margin-top: 0;
}

.image-margin {
  margin-bottom: 10px;
}

.prize-count {
  width: 70px;
  position: relative;

  .fa {
    position: absolute;
    left: -22px;
    bottom: 15px;
    font-size: 1.3em;
  }
}

.prize-title {
  margin-left: 15px;
  max-width: 665px;
  width: 100%;
}

.prize-icon {
  padding-left: 5px;
  padding-top: 3px;
  display: flex;
  flex-flow: column;
  position: absolute;
  right: -53px;
  bottom: 0px;
  font-size: 22px;
  line-height: 22px;
}

.prize-hint-icon {
  padding-left: 5px;
  padding-top: 3px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  position: absolute;
  right: -90px;
  bottom: 0px;
  font-size: 22px;
  line-height: 22px;
}

.icon-margin {
  padding-left: 5px;
  padding-top: 3px;
  display: flex;
  flex-flow: column;
  position: absolute;
  right: -40px;
  bottom: 10px;
  font-size: 22px;
  line-height: 22px;
}

@media (max-width: 850px) {
  .prize-icon {
    right: -27px;
    bottom: 7px;
    font-size: 14px;
    line-height: 14px;
  }
  .prize-hint-icon {
    right: -47px;
    bottom: 7px;
    font-size: 14px;
    line-height: 14px;
  }
  .prize-title {
    max-width: 560px;
  }
  .prize-container {
    max-width: 75vw;
  }
}

.delimage-icon {
  max-width: 665px;
  width: 100%;
}

@media (max-width: 768px) {
  .delimage-icon {
    max-width: 560px;
  }
}

.font-normal {
  font-weight: normal;
}

.prize-container:nth-child(n+2) .prize-row label {
  display: none;
}

.prize-types > .btn-group {
  margin-bottom: 4px;
}

.prize-container .btn-group {
  margin-bottom: 4px;
}

.prize-container:first-child .btn-group {
  margin-bottom: -20px;
}

.default-image {
  padding: 0;
}

.dropzone button {
  margin: 6px 0;
  padding: 5px 24px 5px 10px;
  .fa {
    font-size: 20px;
  }
}

.dropzone-notify {
  display: inline-block;
  width: 62%;
  margin-left: 20px;
  color: #9B9B9B;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
}

.panel-header {
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
}

.final-step-buttons .col-md-3 {
  padding: 0 5px;
}

@media (min-width: 992px) {
  .section .row {
    .col-md-3 {
      .text-danger,
      .btn-link {
        margin-top: 16px;
      }
    }
  }
}

.section {
  padding-top: 25px;
  padding-bottom: 25px;
  .text-danger {
    margin-top: 0;
  }
  .row {
    .form-group {
      margin-bottom: 0;
    }
    .form-group + .form-group {
      margin-top: $form-group-margin-bottom;
    }
    .form-inline {
      .form-group + .form-group {
        margin-top: 0;
      }
    }
    & + .row {
      margin-top: $form-group-margin-bottom;
    }
  }
}

@media (min-width: 768px) {
  .section .container {
    padding-right: 56px;
  }
}

.simple-row:not([hidden]) {
  display: flex;
  align-items: center;
  min-height: $input-height-base;
  .section-header {
    margin: 0;
  }
}

.multiple-row:not([hidden]) {
  display: flex;
  align-items: top;
  min-height: $input-height-base;
  .section-header {
    margin: 0;
  }
}

#rules-area {
  font-size: 12px;
}

.dates-heading {
  margin-bottom: 0;
}

#own_url-wrap {
  .text-success {
    color: #5CB85C;
  }

  .text-danger {
    margin-top: 0;
  }
}

.text-vertical {
  display: flex;
  align-items: center;
  height: $input-height-base;
}

.section:nth-child(even) {
  background-color: #f7f7f7;
}

.flex-column {
  flex-flow: row;
}

.flex-row {
  flex-flow: column;
}

.emails-row .btn-info {
  margin-top: 10px;
}

@media (min-width: 990px) {
  .rules-row, .emails-row, .company-row {
    display: flex;
    align-items: stretch;
  }

  .flex-column {
    flex-flow: column;
  }

  .flex-row {
    flex-flow: row;
  }

  .emails-side-buttons {
    margin-top: 71px;
    margin-bottom: 48px;
    padding-left: 0;
    margin-left: -10px;
  }

  .rules-side-buttons {
    padding-left: 0;
    margin-left: -10px;
  }

  .ga-notify {
    margin-left: -10px;
  }
}

.timing-aside {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  .form-group + .form-inline {
    margin-top: 10px;
  }
  .timezone-label {
    font-size: 14px;
    color: #9B9B9B;
    display: inline-block;

    @media (min-width: $screen-sm) {
      width: 20%;
    }
  }
  .timezone-control {
    display: inline-block;
    font-size: 14px;
    color: #9B9B9B;
    border: 0;
    background: none;
    box-shadow: none;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: $screen-sm) {
      width: 80%;
    }
  }
  select + select {
    margin-left: 5px;
  }
  input[type="checkbox"] {
    margin-right: 5px;
  }
}

.dates-col-hold {
  min-width: 50%;
}

.dates-row {
  .form-control + .form-control {
    margin-left: 5px;
  }
  .form-inline{
    white-space: nowrap;
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .form-control {
    padding: 6px 6px;
  }
}

@media (min-width: 768px) {
  .dates-row {
    display: flex;
    align-items: stretch;
    font-size: 18px;
    margin-right: -41px;
    .form-inline {
      margin-bottom: 15px;
    }
    .form-control:not(.timezone-control),
    .form-control:not(.input-sm) {
      font-size: 18px;
    }
    .form-control.timezone-control,
    .form-control.input-sm {
      font-size: 14px;
    }
    .form-inline .form-group + .form-group {
      margin-left: 12px;
    }
  }
  .dates-week-label {
    padding: 0 7px 0 2px;
  }

  .flex-row {
    display: flex;
    flex-flow: row;
  }
}

.participant-notify {
  font-size: 12px;
  color: #9B9B9B;
}

.emails-side-buttons, .rules-side-buttons {
  position: relative;

  & > div:last-child {
    position: absolute;
    bottom: 0;

    @media all and (max-width: 992px) {
      right: 15px;
    }
  }
}

.template-tags {
  display: inline-block;

  & > div:last-child {
    margin-bottom: 25px;
  }

  @media all and (max-width: 992px) {
    & > div {
      display: inline-block;
    }
  }
}

.repeats-form, .end-after-form {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-inline .small-input {
  width: 70px;
}

.form-inline input, .form-inline select {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.form-inline .form-group {
  display: inline-block;

  & + .form-group {
    margin-left: 5px;
  }
}

div.editable-area {
  background-color: #fff;
}

.dropzone {
  display: inline-block;
}

.competition-create-title {
  margin-top: 0;
  font-size: 34px;
  i, span {
    display: inline-block;
    vertical-align: middle;
  }
  .glyphicon,
  .fa {
    margin-right: 3px;
  }
}

.competition-create-header {
  padding: 5px 0 26px;
  margin-bottom: 7px;
  border-bottom: 5px solid black;
}

.competition-create-footer {
  padding: 15px 0;
  border-top: 2px solid black;
}

.competition-create-header button,
.competition-create-footer button {
  margin-bottom: 5px;
}

.input-group-btn:last-child > .btn {
  height: 44px;
}

.url-group {

  .input-group-addon {
    border-radius: 0;
    border-right: 1px;
  }

  .input-group-btn:not(:last-child) .btn {
    border-radius: 0;
    border-right: 0;
  }

  .input-group-btn .btn {
    width: 44px;
    font-size: 21.5px;
    background: #EEEEEE;

    &:hover {
      background: #ccc;
    }
  }
}

.upper-label {
  text-transform: uppercase;
}

.section-header {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 0;
  font-weight: bold;

  span, i {
    display: inline-block;
    vertical-align: middle;
  }
  .fa {
    width: 36px;
    font-size: 24px;
    text-align: center;
    &.fa-users {
      margin-top: -10px;
    }
    &.fa-line-chart,
    &.fa-bar-chart {
      font-size: 20px;
    }
  }
}

.ga-notify {
  font-size: 12px;
  line-height: 12px;
  color: #9B9B9B;
}

.hide-optional {
  position: absolute;
  left: -8px;
  top: 2px;
  transform: 0;
  margin: 0;
  font-size: 18px;
  line-height: 18px;

}
