$started-color: #f0ad4e;
$ended-color: #5cb85c;
$future-color: #9E9E9E;
.buttons-wrapper{
  @media all and (max-width: $screen-md-max) {
    .button-container:not(:last-child){
      margin-bottom: 5px;
    }
  }
}

.row-inner{
  margin-bottom: 10px;
}

.competition-details {
  .page-header {
    padding: 5px 0 26px;
    border-bottom: 5px solid black;
    margin-bottom: 0;

    .btn-toolbar {
      margin: 0;

      .btn {
        width: 142px;

        @media (max-width: $screen-sm-max) {
          width: 100%;
        }
      }
    }
  }

  .subheader {

    .subheader-flex {
      display: flex;
      flex-flow: row;
      justify-content: space-between;

      &-left, &-right {
        min-height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @media (max-width: $screen-sm-max) {
        flex-flow: column;

        &-left {
          justify-content: flex-start;

          & > div {
            min-width: 50%;
            text-align: center;
          }
        }

        &-right {
          display: flex;
          flex-flow: column;
          justify-content: right;
        }
      }
    }

    .competition-status {
      color: white;
      text-align: center;
      width: 126px;
      padding: 3px 0;
      font-size: 16px;
      font-weight: bold;
      border-radius: 2px;
      margin: 0;
      text-transform: uppercase;
    }

    .circle-filter {
      ul {
        margin: 0 0 0 12px;
      }
    }

    .subheader-log {
      @media (min-width: $screen-md) {
        font-size: 16px;
        margin-right: 10px;
      }

      i {
        font-size: 24px;
      }
    }
  }

  .competition-own-url {
    font-size: 18px;

    h4 {
      margin: 0 !important;
    }
  }

  .own-url-row {
    display: flex;
    align-items: center;
  }

  .SocialMediaShareButton {
    float: left;
    margin-right: 7px;
    margin-bottom: 7px;
  }

  .copy-btn {
    margin-left: 20px;
  }

  .embed-code {
    margin-top: 5px !important;
    font-size: 16px;
    font-weight: bold;

    .blue {
      color: #428bca;

      .fa-code {
        background-color: #428bca;
      }
    }

    .fa-code {
      color: white;
      background-color: black;
      border-radius: 50%;
      padding: 4px;
      margin-right: 5px;
    }

    textarea {
      font-weight: normal;
      margin-top: 8px;
      font-size: 14px;
    }

    @media all and (min-width: 992px) {
      .copy-btn {
        margin-top: 20px;
      }
    }
  }

  .timing-section {
    padding-top: 33px;
    font-size: 17px;

    .as-days, .as-hours {
      font-size: 21px;
      min-width: 32px;
      font-weight: bold;
      color: white;
    }

    .competition-progress {
      border-bottom: none;
    }

    .progress {
      height: 28px;
    }
  }

  .participants {
    padding-top: 47px;

    &-count {
      display: flex;
      justify-content: space-between;

      @media (max-width: $screen-xs-max) {
        flex-flow: column;

        & > div {
          padding: 7px 0;
        }
      }

      & > div {
        display: flex;
      }

      .number {
        font-size: 63px;
        font-weight: bold;
        line-height: 0.7;
        margin-right: 5px;
      }
    }

    .exports-links {
      .fa {
        margin-left: 10px;
      }

      @media (min-width: 992px) {
        .fa {
          font-size: 26px;
        }
        .btn {
          font-size: 17px;
        }
      }
    }
  }

  .prizes.section {
    table {
      &, tr, td, th {
        border: none !important;
        font-size: 18px;
        background-color: transparent;
      }

      td {
        margin-left: 23px;
      }

      .prizes-details {
        font-size: 13px;
        color: #9b9b9b;

        & > span {
          display: inline-block;
          width: 33%;

          @media (max-width: $screen-xs-max) {
            display: block;
            width: auto;
          }
        }
      }

    }

    .prizes-table {
      margin-left: -30px;
    }

    .prize-amount {
      text-align: right;
      width: 33px;
      padding-left: 0;
      padding-right: 0;
      display: inline-block;
      font-weight: normal;

      @media (min-width: $screen-md) {
        width: 60px;
      }

      .fa {
        color: $ended-color;
      }
    }

    .prize-title {
      @media (min-width: $screen-md) {
        padding-left: 37px;
      }
    }

    .prize-logs {
      padding-left: 0;
      padding-top: 10px;
      line-height: 1.7;

      @media (max-width: $screen-xs-max) {
        margin-left: -40px;
      }
    }

    .verified {
      .prize-amount, .prize-title {
        color: $ended-color;
      }
    }

    .unverified {
      .prize-amount, .prize-title {
        color: $started-color;
      }
    }

    .futures {
      .prize-amount, .prize-title {
        color: $future-color;
      }
    }

    .log {
      font-size: 13px;
      list-style: none;
      color: #9b9b9b;

      @media (min-width: $screen-md) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .btn-link {
      margin-top: 30px;

      @media (max-width: $screen-xs-max) {
        margin-top: 0;
      }
    }
  }

  #analytics-chart {
    height: 336px;
  }

  .exports-links {
    .btn-link:first-child {
      margin-top: 0;
    }
  }

  .history-logs {
    list-style: none;
    padding-left: 0;
    line-height: 1.7;
    margin-right: 10px;
  }
}

.competition-details-footer {
  padding: 15px 0;
  border-top: 2px solid black;
}

.competition-details.competition-started {
  .competition-status, .progress-bar, .as-days, .as-hours {
    background-color: $started-color;
  }

  .subheader {
    background-color: #fcf8e3;
  }

  .number {
    color: $started-color;
  }
}
.competition-details.competition-ended {
  .competition-status, .progress-bar, .as-days, .as-hours {
    background-color: $ended-color;
  }

  .subheader {
    background-color: #dff0d8;
  }

  .number {
    color: $ended-color
  }

  .awaiting-draw {
    color: $ended-color;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 27px;
  }
}

.log {
  .time {
    padding-left: 10px;
    padding-right: 20px;
  }
}

.remove-lang {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: $screen-xs-max) {
  .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 5px 0 0 5px;
  }
}
