/******* CLEANERS *******/
%clean{
  margin: 0;
  padding: 0;
} // .clean

%clean-list{
  @extend %clean;
  list-style: none;
} // .clean-list

%clean-decor{
  background: none;
  border: none;
  outline: none;
} // .clean-decor

%clean-decor-extended{
  @extend %clean-decor;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
} // .clean-decor-extended

%clean-form{
  form{
    @extend %clean;
  }

  fieldset{
    border: none;
  }

  textarea{
    resize: none;
  }

  label{
    cursor: pointer;
  }

  input{
    vertical-align: middle;
  }

  legend{
    padding: 0;
  }
} // .clean-form

.clearfix{
  &:before,
  &:after{
    content:".";
    display:table;
    height: 0;
    font-size:0;
    line-height:0;
    visibility:hidden;
  }

  &:after{
    clear: both;
  }
} // .clearfix
/******* // CLEANERS *******/
