@media all and (max-width: 640px) {
  .row-exs{
    margin-left: -5px;
    margin-right: -5px;
  }

  .col-exs-1 {
    width: 8.33333%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .col-3xs-2 {
    width: 16.66667%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .col-xs-3 {
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .col-exs-4 {
    width: 33.33333%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .col-exs-5 {
    width: 41.66667%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .col-exs-6 {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .col-exs-7 {
    width: 58.33333%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .col-exs-8 {
    width: 66.66667%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .col-exs-9 {
    width: 75%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .col-exs-10 {
    width: 83.33333%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .col-exs-11 {
    width: 91.66667%;
  }

  .col-exs-12 {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
